@use 'colors';

/**************** 
General styling
*****************/
.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/**************** 
Grid styling
*****************/
.grid {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}

/**************** 
Card styling
*****************/
@mixin card($backgroud: #ffffff) {
	-webkit-box-shadow: 1px 9px 13px -5px rgba(0,0,0,0.5); 
	box-shadow: 1px 9px 13px -5px rgba(0,0,0,0.5);
	width: 100%;
	padding: 1rem 2rem;
	margin: 0.5rem 0rem;
	background-color: $backgroud;
  border-radius: 16px;
}

/** Inventories Cards **/
.inventoryCard {
  @include card;
	border-left: colors.$primary solid 7px;
}

/** Items Cards **/
.itemCard {
  @include card;
  border-top: colors.$primary solid 7px;
}

/**************** 
Button styling
*****************/
@mixin button($color: colors.$primary, $hover_color: colors.$primary-light) {
	-webkit-box-shadow: 1px 9px 13px -5px rgba(0,0,0,0.5); 
	box-shadow: 1px 9px 13px -5px rgba(0,0,0,0.5);
  padding: 0.5rem 1rem;
  background-color: $color;
  color: white;
  border: none;
  border-radius: 16px;

  &:hover {
	  -webkit-box-shadow: 1px 14px 13px -8px rgba(0,0,0,0.5); 
	  box-shadow: 1px 9px 13px -5px rgba(0,0,0,0.5);
    background-color: $hover_color;
  }
}

.btn_floating {
  @include button;
  font-size: 32px;
  position: absolute;
  right: 16px;    
  bottom: 16px;
}

/**************** 
Loading elements styling
*****************/
.loader {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}


.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: colors.$primary;
  border-left-color: colors.$primary;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/**************** 
Footer styling
*****************/
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
